@page "/"

@using System.Net.Http
@using System.Net.Http.Json

@inject HttpClient http

<PageTitle>Keys and Certs</PageTitle>

<h1>Key and Certificate Management</h1>

<p role="status">Keys: @keys</p>

@code {
    private string keys = "~~~";

    protected override async Task OnInitializedAsync()
    {
        var keys_list_response = await http.GetFromJsonAsync<KeysListResponse>("api/keys/list");
        if (keys_list_response is not null)
            keys = string.Join('\n', keys_list_response.keys.ToArray());
    }
}