@page "/"

<PageTitle>Katsu Demo</PageTitle>

<h1>Radical Semiconductor Katsu Board Demo</h1>

<p>Welcome to the Katsu development board demo.</p>

<p>Please generate keys and certs to get started.</p>
