@page "/time"

@inject HttpClient Http

<PageTitle>Flask API Test</PageTitle>

<h1>Flask API Test</h1>

<p role="status">Time: @time</p>

<button class="btn btn-primary" @onclick="UpdateTime">Fetch time from flask</button>

@code {
    private string time = "~~~";

    private async Task UpdateTime()
    {
        var ts = await Http.GetFromJsonAsync<TimeStampResponse>("api/timestamp");
        if (ts is not null)
            time = ts.time;
    }
}
